<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a href="/urls" class="navbar-brand">TinyApp</a>
    <button class="navbar-toggler" type='button' data-toggles='collapse' data-target='#navbarNavAltMarkup'
      aria-controls="navbarNavAltMarkup" aria-expanded='false' aria-label='Toggle navigation'>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="/urls" class="nav-item nav-link">My URLs</a>
        <a href="/urls/new" class="nav-item nav-link">Create New URL</a>
      </div>
    </div>
    <form method="POST" action="/login" class="form-inline">
      <% if(!username) { %>
        <input class="ml-2 form-control" placeholder="Enter username" type="text" id="username" name="username">
        <input type="submit" class="ml-2 btn btn-outline-dark btn-md" value="Login">
        <% } else { %>
          <span class="text-center">Logged In As: <%= username %>!</span>
          <form action="/logout" method="POST">
            <input type="submit" class="ml-2 btn btn-outline-dark btn-md" value="Logout">
          </form>
          <% } %>
    </form>
  </nav>
</header>